<h1><%=@resume.name%> Resume</h1>
<p><%=@resume.name%></p>
<p><%=@resume.department%></p>
<p><%=@resume.college%></p>
<p><%=@resume.place%></p>
<p><%=@resume.mobile%></p>
<p><%=@resume.objective%></p>
<p><%=@resume.education%></p>
<p><%=@resume.skills%></p>
<p><%=@resume.hobbies%><r/p>
<p><%=@resume.training%></p>
</br>
<%=link_to "Delete",resume_path(@resume), method: "resume", data:{confirm: "DO YOU WANT TO DELETE RESUME?"} %>
</br>
<%= link_to "back",resumes_path%>